*{
    margin: 0%;
    padding: 0%;
}
.main{
    width: auto;
    height: 82vh;
    background-image: url("bg.jpg");
    background-size: cover;
   
   
}
.main .obes{
    width: auto;
    height: 70vh;
    background-color: black;
    opacity: 0.64;
   
   
}

.navbar{
    width:auto;
    height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.64;
    
}
.logo{
    background-image: url("logo3.png");
    height:75px;
    width:180px;
    background-size: cover;
    position:relative;
    right:150px;
   
    
}
.buttons{
    width: 220px;
    height: 44px;
    display: flex;
    position: relative;
    left:80px;
    justify-content: space-between;
}
.buttons select{
    width:122px;
    height: 32px;
    text-align: center;
    font-weight: 700;
    border: 1px solid white;
    background:none;
    color:white;
    border-radius: 4px;
}
.buttons button{
    width:75px;
    height:32px;
    color:white;
    font-weight: 700;
    background-color: red;
    border:none;
    border-radius:4px;
}
.maintext{
    position: relative;
    bottom: 400px;
    color: white;
    align-items: center;
    text-align: center;
}
.headline{
    font-size: 55px;
    color:white;
}
.subheadline{
    font-size:28px ;
    margin-top: 15px;
    color:white;
}

.content{
    margin-top: 60px;
}

.simplepara{
    font-size: 25px;
    margin-top: 15px;
}
.searchbar{
    width:500px;
    display: flex;
    margin-top: 35px;
    position:relative;
    left:500px;
}
.search{
    height:52px;
    width:350px;
    text-align: centre;
    background: transparent;
    border: 1px solid white;
    border-radius:2px;
    color:white;
    margin-right: 10px;
    padding-left: 25px;
    font-size: 15px;
    font-weight: 400;
}
.getstart{
    height:54px;
    width:150px;
    background-color: red;
    color:white;
    font-size:18px;
    font-weight: 500;
    border:none;
    border-radius: 5px;
}
.firstline{
    height:8px;
    background-color:rgb(27, 45, 45);
}
.second{
    height: 500px;
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height:400px;
    width:80%;
    display: flex;

}
.img1{
    width:500px;
    height:400px;
    background-size:cover;
    margin-left:50px;
    background-image: url("tv1.png");
}

iframe{
    margin-top: 60px;
    margin-left:60px;
    
}
.secondline{
    height:8px;
    background-color: rgb(24, 40, 40);
}
.third{
    height: 500px;
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.img2{
    width:500px;
    height:400px;
    background-size:cover;
    margin-left:50px;
    background-image: url("tv3.png");
}
.content2{
    margin-top:80px;
    margin-left:60px;
}
.img3{
    width:500px;
    height:400px;
    background-size:cover;
    margin-left:50px;
    background-image: url("tv4.png");
}
.content3{
    margin-top: 60px;
}
.box{
   display: flex;
}
.thirdline{
    height:8px;
    background-color:rgb(30, 51, 51);
}
.four{
    height: 1000px;
    background-color: black; 
    justify-content: center;
   
    
}

.headline4{
    font-size: 55px;
    color:white;
    text-align: center;
    

}
.faq{
    padding-top: 60px;
}

.blocks{
    height:700px;
    width:1170px;
    margin-top: 30px;
    margin-left:180px
}
.block{
    height:60px;
    width:1170px;
    color:white;
    background-color: rgb(32, 53, 53);
    margin-top: 10px;
    padding-top:35px;
    padding-left: 25px;
    font-size: 30px;
    font-weight: 600;
}
.anothersearch{
    position: relative;
    bottom: 60px;
}
.generaltxt{
    color:white;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    position:relative;
    bottom:58px;
}



