*{
    margin: 0;
    padding: 0;
   
   
   
}


.navbar{
    height:80px;
    width: 100%;
    background-color: rgb(187, 186, 181);
    display: flex;
    align-items: center;
    
}
.headline1{
    color:rgb(56, 3, 3);
    font-family: cursive;
    font-size: 35px;
    margin-left: 80px;
}
a{
    color: white;
    background-color:rgb(173, 127, 68);
    padding: 15px 30px;
    text-decoration: none;
    position: relative;
    left:500px;
    margin-left: 30px ;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
}
.box1{
    height:450px;
    width:100%;
    background-color:darkslategrey;
    color:white;
    display:flex;

}
.head{
    font-size: 55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    position: relative;
    left:160px;
    top:40px;
}
.desc{
    position:relative;
    top:70px;
    left:100px;
   
 
    font-size:30px;
    
}
.profile{
    height:450px;
    width:400px;
    background-image: url("images/profile.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius:50% ;
    border-bottom-right-radius: 50%;
    
    
}
.box2{
    height:400px;
    width: 100%;
    background-color: rgba(127, 255, 212, 0.414);
    color:black
}
.head1{
    font-size: 55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-align:center ;
}
.bo{
    height:10px;
    width:250px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: black;
}
.fill{
    height: 9px;
    background-color: bisque;
}
.head2{
    
    font-size: 55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    position: relative;
    left: 600px;
   
}
.subhead{
    font-size:30px;
    position:relative;
    top:70px;
}
.subpara{
    font-size:20px;
    position:relative;
    top:110px;
    right: 50px;
}
#experience{
    height: 200px;
}
.contactblock{
    margin-left: 160px;
    margin-top: 100px;
    display: flex;
}
.elements{
    margin-left: 70px;;
}
#contact{
    height:270px;
}
